/*header*/
header{
    .top-head{min-height: 175px;display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;align-content:center;}
    .logo{position: relative;
        .logo-flag{position: absolute;bottom:14px;right: 0;height: 24px;width: 24px;overflow: hidden;}
    }
    .bottom-head{display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;background-color: #fff;border:2px solid #dddddd;
        nav{width: 69%;
            ul{display: table;width: 100%;}
            a{text-decoration: none;font-size: 19px;color: #000000;display: block;padding: 21px 5px;}
            li{display: table-cell;vertical-align: middle;text-align: center;
                &:hover,&.active{background-color: #a5d000;
                    a{color: white;}
                }
            }
        }
        .social{width: 20%;overflow: hidden;
            ul{display: table;width: 100%;}
            li{display: table-cell;vertical-align: middle;text-align: center;border-left: 2px solid #dddddd;width: 25%;}
            a{display: block;padding: 17px 10px 18px;}
        }
    }
}
/*/header*/