/* title */

.title-text{font-size: 18px; background-color: white; font-family: "Arial", sans-serif; color: rgb(165, 208, 0);  font-weight: bold; line-height: 1.2; width: 100%; border-bottom: 2px solid #dddddd; border-top: 2px solid #dddddd; line-height: 56px; padding-left: 20px;}

/* title */

.test{text-decoration: none;}

/* buttons */
.button-blue{ max-width: 120px; width: 100%; font-size: 14px; font-family: "Arial"; color: rgb(254, 254, 254); font-weight: bold; line-height: 26px; text-transform: uppercase; border-radius: 3px;  background-color: rgb(51, 102, 153); display: block; text-align: center; text-decoration: none; }

.button-green{ min-width: 66px; display: block; color: white; background-image: -moz-linear-gradient( 90deg, rgb(44,124,0) 0%, rgb(136,171,0) 0%, rgb(180,226,1) 100%); background-image: -webkit-linear-gradient( 90deg, rgb(44,124,0) 0%, rgb(136,171,0) 0%, rgb(180,226,1) 100%); background-image: -ms-linear-gradient( 90deg, rgb(44,124,0) 0%, rgb(136,171,0) 0%, rgb(180,226,1) 100%);border-radius: 3px; text-align: center; font-size: 14px; font-family: "Arial", sans-serif;font-weight: bold; line-height: 25px;}
/* buttons */


/* paginator */
.paginator{ text-align: center; padding: 40px 0 40px;
    span, a{display: inline-block; vertical-align: middle; min-width: 25px; padding: 0 4px; min-height: 25px;  line-height: 25px; text-decoration: none; background-image: -moz-linear-gradient( 90deg, #bebebe 0%, #bebebe 0%, #bebebe 100%); background-image: -webkit-linear-gradient( 90deg, #bebebe 0%, #bebebe 0%, #bebebe 100%); background-image: -ms-linear-gradient( 90deg, #bebebe 0%, #bebebe 0%, #bebebe 100%); transition: all 2s; margin: 0 3px; font-size: 16px; font-family: "Arial", sans-serif; color: rgb(255, 255, 255); font-weight: bold;
        &:hover, &.current{background-image: -moz-linear-gradient( 90deg, rgb(56,159,0) 0%, rgb(146,183,0) 0%, rgb(180,226,1) 100%); background-image: -webkit-linear-gradient( 90deg, rgb(56,159,0) 0%, rgb(146,183,0) 0%, rgb(180,226,1) 100%); background-image: -ms-linear-gradient( 90deg, rgb(56,159,0) 0%, rgb(146,183,0) 0%, rgb(180,226,1) 100%);}
    }
    a{
        &.previouspostslink, &.nextpostslink{font-size: 0;color:transparent;line-height: 0;}
    }
    a.previouspostslink{ margin-right: 20px; min-width: 10px; width: 10px; min-height: 12px; position: relative; padding: 0;
        &:before{content: ''; width: 0; height: 0; border-style: solid; border-width: 6px 10px 0 0; border-color: white transparent transparent transparent; position: absolute; top: 0; left: 0;}
        &:after{content: ''; width: 0; height: 0; border-style: solid; border-width: 6px 0 0 10px; border-color: transparent transparent transparent white;  position: absolute; bottom: 0; left: 0;}
    }
    a.nextpostslink{ margin-left: 20px; min-width: 10px; width: 10px; min-height: 12px; position: relative; padding: 0;
        &:before{content: ''; width: 0; height: 0; border-style: solid; border-width: 0 10px 6px 0; border-color: transparent white transparent transparent; position: absolute; top: 0; left: 0;}
        &:after{content: ''; width: 0; height: 0; border-style: solid; border-width: 0 0 6px 10px; border-color: transparent transparent white transparent; position: absolute; bottom: 0; left: 0;}
    }
}
/* paginator */

.super-stat{background-color: white;border: 2px solid #dddddd;border-top: 0px solid #dddddd;  margin-top: -2px; position: relative; overflow: hidden;
    &:before{content: ''; position: absolute; left: calc(50% - 2px); top: 0; bottom: 0; width: 2px; background-color: #dddddd; z-index: 11;}
    &:after{content: ''; position: absolute; left: calc(75% ); top: 0; bottom: 0; width: 2px; background-color: #dddddd; z-index: 11;}
}

/* first-colom */
.casino-list-wrap{ height: 100%;  width: 50%; float: left; border-right: 2px solid transparent;background-color: #ffffff;
    .conteiner{
        .content{ width: 100%;padding-left: 10px;  padding-right: 50px;position: relative;min-height:200px;position: relative;
            &.loading{
                &:before{transition:opacity 300ms ease 300ms;opacity:1;}
                .item-list{transition:opacity 300ms ease;opacity:0;}
            }
            &:before{content:'';display: block;position: absolute;width: 78px;height: 78px;background-image:url(../images/ring.gif);opacity: 0;pointer-events:none;top:calc(50% - 39px);left:calc(50% - 39px);opacity: 0;transition:opacity 300ms ease;}
            .item-list{transition:opacity 300ms ease 300ms;opacity: 1;
                .item{border-bottom: 2px solid #dddddd; display: table; min-height: 200px;
                    .left-it{padding: 20px 10px; display: table-cell; vertical-align: middle; min-width: 180px;
                        img{width: 160px; height: 160px;}
                    }
                    .right-it{ padding: 20px 10px; display: table-cell; vertical-align: bottom;
                        .conteiner-buton{ padding-top: 20px;
                            a{text-decoration: none;}
                        }
                        h5{font-size: 18px; font-family: "Arial", sans-serif; color: rgb(66, 66, 66); font-weight: bold; line-height: 1.2; padding-bottom: 18px;}
                        p{ font-size: 14px; font-family: "Arial", sans-serif; color: rgb(107, 107, 107); padding-bottom: 5px;
                            img{display: inline-block;}
                        }
                        .decript{font-size: 14px; font-family: "Arial", sans-serif; color: rgb(107, 107, 107); line-height: 1.2;
                            tr td:first-child{ width: 90px; }
                        }
                    }
                }
            }
        }
    }
}
/* /first-colom */

/* second-colom */
.second-block-wrap{ width: 25%; float: left; background-color: #e6e6e6; position: relative;
    &:after{content: ''; position: absolute; bottom: -100000px; height: 100000px; left: 0; right: 0; background-color: #e6e6e6;z-index: 5;}
    .conteiner{
        .content{ padding: 20px;
            .top-text{font-size: 12px; font-family: "Arial", sans-serif; color: rgb(101, 101, 101); line-height: 1.2; padding-bottom: 10px; }
            .item-table{
                .item{ width: 100%; text-align: center; padding: 5px 0;display: flex;align-items:center;justify-content:space-around;flex-wrap:wrap;
                    .item-link{display: flex;align-items:center;justify-content:space-around;width: 66.66%; font-family: "Arial", sans-serif; color: rgb(83, 83, 83); line-height: 1.2;text-decoration: none;
                        &:hover{
                            .con2{text-decoration: underline;}
                        }
                    }
                    .con1{ max-width: 85px;width: 100%; }
                    .con2{ font-size: 13px;}
                    .con3{ padding: 0 7px;width: 33.33%;
                        a{text-decoration: none;
                            &.button-green{width: 100%;justify-content:center;}
                        }
                    }
                }
            }
        }
    }
}

/* second-colom */

/* slice-colom */

.slice-wrap{ position: relative; width: 25%; float: left; border-left: 2px solid transparent; background-color: #ffffff;z-index: 10;
    &:after{content: ''; position: absolute; z-index: 1; left: 0; right: 0; bottom: -100000px; height: 100000px; background-color: white;}
    .content{ padding: 30px 20px; text-align: center; background-color: white; position: relative;
        p.look-smile{ position: absolute; top: 0; left: 50%; transform: translateX(-50%); height: 50px; width: 80%; font-size: 14px; font-family: "Arial", sans-serif; font-style: italic;  line-height: 1.2; z-index: -1; top: 30%; }
        .bonus-email{
            .form_input{ padding-bottom: 16px; position: relative;
                ::-webkit-input-placeholder {color: rgb(140, 140, 139);}
                ::-moz-placeholder          {color: rgb(140, 140, 139);}/* Firefox 19+ */
                :-moz-placeholder           {color: rgb(140, 140, 139);}/* Firefox 18- */
                :-ms-input-placeholder      {color: rgb(140, 140, 139);}
                input{outline: none; font-size: 14px; font-family: "Arial", sans-serif; font-style: italic;  line-height: 1.2;  text-align: center; width: 100%; border-width: 2px; border-color: rgb(217, 217, 217); border-style: solid; border-radius: 3px; line-height: 44px; color: rgb(140, 140, 139);}
                input.error{border-color: red;}

                label{display: none !important;}
            }
            button.contact-submit{border: none; outline: none; line-height: 35px; cursor: pointer; margin: 0 auto; max-width: 125px;}
        }
        .top-imageblock{ padding-bottom: 30px;}
        .texter{ text-align: left;
            h5{ font-size: 18px; font-family: "Arial"; color: rgb(66, 66, 66); font-weight: bold;line-height: 1.2; padding-bottom: 20px;}
            p{font-size: 14px; font-family: "Arial"; color: rgb(107, 107, 107); line-height: 1.286;   text-align: left; padding-bottom: 20px;}
            a.button-now{max-width: 125px; line-height: 36px; text-decoration: none; margin: 0 auto;}
            .convert-butt{padding: 10px 0 0;}
        }
        .lister{ text-align: left;
            ul li{ position: relative; padding-left: 15px;
                a{text-decoration: none; line-height: 30px; font-size: 16px;font-family: "Arial", sans-serif; color: rgb(78, 78, 78);}
                &:before{content: ''; position: absolute; left: 0; top: 13px; width: 4px; height: 4px; border-radius: 50%;background-color: #b0db01; }
            }
        }
    }
}
/* slice-colom */

/* flag styles */

    .flag-wrap{display:inline-block;position:relative;
        &:before, &:after{content:"";display: block;position: absolute;left:calc(50% - 2px);top:calc(50% - 13px);width: 3px;height: 26px;background-color: tomato;opacity:0;transform-origin:50% 50%;border-radius: 3px;}
        &:before{transform:rotate(45deg);}
        &:after{transform:rotate(-45deg);}
        &.not-accepted{
            &:before, &:after{opacity: 1;}
        }
    }

/* /flag styles */

.disigner-2{display: none !important;}