/*footer */

    .footer{background-color:#2d2d2d;padding: 35px 0 45px 0;
        .footer-top{display: flex;margin-bottom: 40px;justify-content:space-between;
            .footer-list-wrap{padding: 0 10px;font-size: 12px;line-height: 18px;text-transform: uppercase;padding-bottom: 20px;
                .footer-list-title{color:#d5ff00;margin-bottom: 5px;}
                .footer-list-main{
                    li{margin-bottom: 5px;}
                    a{position: relative;text-decoration: none;color:#bfbfbf;
                        &:before{content:'';display: block;position: absolute;left:0;top:100%;height: 1px;width: 0;background-color: #bfbfbf;transition:width 300ms ease;}
                        &:hover{
                            &:before{width: 100%;}
                        }
                    }
                }
            }
        }
        .footer-bottom{
            .footer-social-links{border-bottom: 1px solid #adadad;display: flex;justify-content:center;padding-bottom: 30px;margin-bottom: 25px;
                a{display: flex;justify-content:center;align-items:center;width: 50px;height: 50px;background-color: #666666;transition:background-color 300ms ease;margin: 0 8px;
                    &:hover{background-color: orange;}
                }
            }
            .footer-text{text-align: center;font-size: 12px;color:#b8b8b8;line-height: 18px;}
        }
    }

/* /footer */

/* form */

    .form-class{background-color: #fff;padding: 25px 20px 0 20px; text-align: center;
        .form-class-title{font-size: 18px;color:#336699;font-weight: 700;text-transform: uppercase;margin-bottom: 5px;}
        .form-class-subtitle{font-size: 12px;color:#336699;margin-bottom: 10px;}
        .form-wrap{max-width: calc(100% - 210px);width: 100%; margin: 0 auto;}
        .form_row{margin-bottom: 20px;
            .form_input{position: relative;
                input{height: 50px;background-color: #fff;border:1px solid #c5c5c5;border-radius: 3px;text-align: center;line-height: 50px;padding: 0 5px;width: 100%;
                    &::-webkit-input-placeholder {color:#a0a0a0;font-family: 'Asap',sans-serif;}
                    &:-moz-placeholder {color:#a0a0a0;font-family: 'Asap',sans-serif;}
                    &::-moz-placeholder {color:#a0a0a0;font-family: 'Asap',sans-serif;}
                    &:-ms-input-placeholder {color:#a0a0a0;font-family: 'Asap',sans-serif;}
                }
                .errorText{position: absolute;left: calc(100% + 10px);width: 200px;top: 50%;transform:translate(0, -50%);font-size: 12px;color:#424242;}
            }
        }
        .submit-wrap{margin-bottom: 20px;}
        .register-link-wrap{margin-bottom: 15px;}
        .button-green, .button-blue{width: 100%;max-width: none;height: 50px;line-height: 50px;text-decoration: none;border:none;font-size: 16px;font-weight: 700;text-transform: uppercase;cursor:pointer;
            &:hover{background:orange;}
        }

        .form-links{text-align: center;font-size: 12px;padding-bottom: 20px;
            a{color:#424242;position: relative;text-decoration: none;
                &:after{content:'';display: block;position: absolute;top: 100%;left: 0;height: 1px;width: 100%;background-color: #424242;transition:width 300ms ease;}
                &:hover{
                    &:after{width: 0;}
                }
            }
        }
    }
    .form-socials{padding-bottom: 20px;padding-top: 35px;
        .form-socials-text{font-size: 12px;color:#336699;text-align: center;margin-bottom: 15px;padding: 0 5px;}
        .form-socials-wrap{display: flex;justify-content:center;
            a{display: flex;justify-content:center;align-items:center;width:36px;height: 36px;margin:0 5px;background-color: #b3b3b3;border:1px solid #e4e4e4;border-radius:2px;transition:background-color 300ms ease, border-color 300ms ease;
                &:hover{background-color: orange;border-color:orange;}
            }
        }
    }

/* /form */

/* ragistration-message */

    .registration-message{background-color:#fff;
        .registration-message-wrap{padding:25px 20px 20px 20px;
            .registration-message-title{font-weight: 700;font-size: 18px;color:#336699;text-transform: uppercase;margin-bottom: 20px;line-height: 22px;}
            .registration-message-text{font-size: 14px;color:#336699;line-height: 20px;margin-bottom: 27px;}
            .registration-message-link{
                .button-blue{max-width: 280px;width: 100%;height: 50px;line-height: 50px;font-size: 16px;
                    &:hover{background-color: orange;}
                }
            }
        }
    }

/* /registration-mesage */

/* statistic */

    .statistic-list-main{padding: 20px 20px 25px 20px;background-color: #fff;}

    .statistic-content{padding-bottom: 20px;margin-bottom:20px;border-bottom:1px solid #c5c5c5;position: relative;

        .statistic-content-svg{float:left;width: 150px;
            svg{width: 130px;height: 130px;
                .green-value, .blue-value{stroke-dasharray:0 1000;transform-origin:50% 50%;transform:rotate(-90deg);transition:all 1.5s ease;}
                .green-text, .blue-text{font-weight: 700;}
                .green-text{fill:#a5d000;font-size: 24px;}
                .blue-text{fill:#336699;font-size: 16px;}
            }
        }

        .statistic-content-logo{position:absolute;top:0;bottom:0;right:0;width: 130px;display: flex;justify-content:center;align-items:center;
            .statistic-logo-text{position: absolute;top:0;left:0;width: 100%;font-weight: 700;text-transform: uppercase;font-size: 14px;color:#fff;line-height: 22px;text-align: center;
                &.orange-logo-text{background-color: #ffcc00;}
                &.red-logo-text{background-color: #ff0000;}
            }
            .satistic-img{padding: 0 10px;}
        }

        .static-content-info{float: left;width: calc(100% - 280px);
            .static-info-title{font-size: 18px;font-weight: 700;color:#424242;margin-bottom: 15px;}
            .static-info-top{display: flex;align-items:center;margin-bottom: 4px;line-height: 20px;
                .static-info-flag{padding-right: 5px;}
                .static-info-top-text{color:#6b6b6b;}
            }
            .statistic-info-bottom{margin-bottom:15px;
                .statistic-info-bottom-title{color:#6b6b6b;line-height: 20px;}
                .statistic-info-bottom-text a{text-decoration: none;  color:#336699;font-weight: 700;line-height: 18px;}
            }
            .statistic-info-button{
                .button-blue{
                    &:hover{background-color:orange;}
                }
            }
        }

        .statistic-item-bottom{display: flex;flex-wrap:wrap;width: 100%;padding-top: 20px;
            .statistic-item-left{width: 130px;text-align: center;margin-right: 20px;
                .statistic-item-title{font-size: 10px;color:#a5d000;margin-bottom: 5px;font-weight: 700;}
            }
            .statistic-item-rating{width: calc(100% - 150px);
                .statistic-item-rating-row{margin-bottom: 5px;display: flex;flex-wrap:wrap;font-size: 10px;color:#225383;font-weight: 700;line-height: 16px;
                    .statistic-item-rating-text{width: 105px;}
                    .statistic-item-rating-value{width: calc(100% - 105px);}
                }
            }
        }

    }

    .statistic-main{

        .statistic-content{padding: 25px 20px 20px 20px;margin-bottom: 0;border-bottom: none;
            .statistic-content-logo{right: 20px;top:20px;}
        }

        .static-item-descript{padding: 15px 15px 15px 15px;
            &.static-item-descript-hasImg{
                .list-img{float: right;width: 180px;}
                .list{width: calc(100% - 200px);}
            }
            .list{float: left;width: 100%;
                table{width: 100%;
                    tr{border-bottom: 1px solid #dadada;
                        td{vertical-align: top;
                            &:first-child{width: 140px;}
                            &:last-child{width: calc(100% - 140px);}
                        }
                        &:last-child{border-bottom: none;}
                    }
                }
                .descript-title, .descript-text{display: inline-block;padding: 8px 8px 8px 0;font-size: 12px;line-height: 18px;}
                .descript-title{color:#797979;}
            }
            .list-links{width: 100%;display: flex;justify-content:center;padding-top: 15px;border-top:1px solid #dadada;
                .button-green, .button-blue{max-width: 150px;width: 100%;margin:0 5px;height: 35px;line-height: 35px;font-size: 14px;font-weight: 700;color:#fff;text-decoration: none;cursor: pointer;
                    &:hover{background:orange;}
                }
            }
        }

    }

/* /statistic */