/*header*/
header{position: relative;z-index: 15;
    .top-head{min-height: 175px;display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;align-content:center;
        .baner img{width: 100%;}
    }
    .logo{position: relative;
        .logo-mobile{display: none;}
        .logo-flag{position: absolute;bottom:15px;right: -1px;height: 20px;width: 32px;overflow: hidden;}
    }
    .bottom-head{display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;background-color: #fff;border:2px solid #dddddd;
        .mobile-button{display: none;}
        nav{width: 69%;
            ul{display: table;width: 100%;}
            a{text-decoration: none;font-size: 15px;color: #000000;display: block;padding: 18px 15px;}
            li{display: table-cell;vertical-align: middle;text-align: center;position: relative;
                &.menu-item-has-children{
                        &:after{position: absolute;content: '';width: 10px;height: 8px;top: 50%;right: 3px;transform: translateY(-50%);background: url('../images/header-arrow.png') center center no-repeat;}
                    &>ul{position: absolute;top: 100%;left: 0;display: block;min-width: 200px;background-color: #fff;border:2px solid #a5d000;opacity: 0;visibility: hidden;z-index: -1;transition: all ease .2s;
                        li{display: block;text-align: left;

                        }
                        a{padding: 10px 11px;display: inline-block; width: 100%;
                            &:hover{ background-color: #a5d000;  color: white; text-decoration: none !important;
                                span:after{opacity: 1;}
                            }
                        }
                    }
                }
                &:hover,&.active{background-color: #a5d000;
                    &.menu-item-has-children{
                        &:after{background: url('../images/header-arrow-hover.png') center center no-repeat;}
                    }
                    a{color: white;}
                    li{background-color: #fff;
                        a{color: black;}
                    }
                }
                &:hover{
                    &.menu-item-has-children{
                        &>ul{opacity: 1;visibility: visible;z-index: 10;}
                    }
                }
            }
        }
        .social{width: 20%;overflow: hidden;
            .soc-wrap{display: flex;align-items: stretch;justify-content: space-between;flex-wrap: wrap;align-content:stretch;height: 56px;width: 100%;}
            b{text-align: center;border-left: 2px solid #dddddd;width: 25%;position: relative;display: inline-block;
                &:hover{opacity: .7;}
            }
            .soc-mob{width: 75%;position: relative;height: 100%;display: flex;align-items: stretch;justify-content: space-between;flex-wrap: wrap;align-content:stretch;
                b{width: 33.33%;}
            }
            .green-arrow{display: none;}
            a{display: block;position: absolute;top: 0;left: 0;right: 0;bottom:0;
                img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
                .mobile-show{display: none;}
            }
        }
    }
}
/*/header*/

/*main-baner*/
.main-baner{overflow: hidden;
    .mbox{
        &:after,&:before{width: 100%;height: 100%;content: '';position: absolute;top: 0;right: calc(100% - 10px);background: url('../images/main-baner-left.jpg') center right no-repeat;}
        &:before{right: auto;left: calc(100% - 10px);background: url('../images/main-baner-left.jpg') center right no-repeat;transform: scale(-1,1);}
    }
    .main-baner-wrap{background-color: #2b2b2b;/*padding: 40px 38px;*/height: 610px;}
    .main-baner-wrapper{height: 100%;border:3px solid #8f8f8f;}
    .item{width: 37%;float: left;height: 100%;position: relative;overflow: hidden;
        &.big{width: 63%;border-right: 3px solid #8f8f8f;}
        img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);max-width: none;min-height: 100%;min-width: 100%;}
    }
    .sub-item{width: 100%;height: 50%;position: relative;overflow: hidden;
        &:first-child{border-bottom: 3px solid #8f8f8f;
            img{top: 48%;max-height: 107%;}
        }
        img{max-width: 105%;}
    }
    .flag{position: absolute;width: 67px;min-height: 65px;background-color: #a5d000;color: white;text-transform: uppercase;text-align: center;top: 0;left: 4%;z-index: 15;
        span{padding-top: 20px;font-weight: bold;display: inline-block;}
        &:after{content: "";position: absolute;left: 0;top: 100%;width: 0;height: 0;border-bottom: 13px solid transparent;border-left: 33px solid #a5d000;border-right: 34px solid #a5d000;z-index: 10;}
    }
}
/*/main-baner*/

/*bottom-baner*/
.bottom-baner{text-align: center;margin:30px 0px;
    a{display: inline-block;}
}
/*/bottom-baner*/

/*casino-item*/
.casino-item{
    .content{padding: 20px;display: flex;justify-content: space-between;flex-wrap: wrap;align-content:stretch;
        &.float-content{display: block;
            &:after{content:'';display: block;width: 100%;height: 0;clear: both;}
            .item-img-wrap{width: 28%;float: left;margin-right: 15px;}
            .texter{width: 100%;padding-left: 0;}
        }
    }
    .item-img-wrap{width: 28%;
        .item-img{margin-bottom: 10px;
            img{position: relative;left: 50%;transform: translateX(-50%);border-radius: 7px;overflow: hidden;}
            &+.item-button+.shared-social{margin-top: 15px;}
        }
        .item-button{
            .button-green{line-height: 45px;text-decoration: none;font-size: 16px;}
        }
    }
    .texter{width: 72%;padding-left: 18px;
        h5{font-size: 18px;color: #424242;font-weight: bold;line-height: 1.2;padding-bottom: 14px;padding-top: 14px;}
        p{font-size: 14px;color: #6b6b6b;line-height: 22px;
            img{margin-right: 5px;margin-bottom: -2px;}
        }
        .texter-table{padding-top: 22px;padding-bottom: 5px;
            .row{margin-bottom: 8px;}
            .td{width: 100%;display: inline-block;font-size: 14px;font-weight: 400;
                &:first-child{color: #6b6b6b;max-width: 105px;}
                &:last-child{max-width: 150px;color: #252525;}
            }
        }
    }
    .bonuses-wrap{padding: 0 20px 20px;
        .item{display: flex;justify-content: space-between;flex-wrap: wrap;align-content:stretch;border-bottom: 2px solid #dddddd;padding: 18px 0px;align-items: center;}
        a{color: #336699;display: inline-block;position: relative;
            &:hover{text-decoration: none;}
            &:first-child{font-size: 15px;font-weight: bold;max-width: calc(100% - 100px);}
            &:last-child{padding-top: 1px;}
        }
    }
}
/*/casino-item*/

/*rating*/
.c-rating {
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-rating__item {
  height: 24px;
  background: url("../images/star.svg");
  background-position: 0 0;
  cursor: pointer;
}

.c-rating__item:hover,
.c-rating__item.is-active {
  background-position: -14px 0;
}


.rating {
    &.readonly{pointer-events:none;}
    .c-rating__item{display: inline-block;height: 14px;width: 14px;background-repeat: no-repeat;background-size: cover;}
}
/*/rating*/

/* texter table */

    .texter{
        table{width: 100%;margin-top: 22px;margin-bottom: 5px;
            tr{
                td{padding-bottom: 6px;font-size: 14px;font-weight: 400;
                    &:first-child{max-width: 105px;}
                    &:last-child{max-width: 150px;}
                }
            }
        }
    }

/* /texter taable */


// some fix in 24.05.2016

.fbf-widget .subscription_email{font-style: normal !important;}
.paginator span.extend{display: none;}


// some fix in 26.05.2016
.item-search-casino{margin-top: 28px;padding-top: 5px;margin-bottom: 0px;padding-bottom: 30px;
    &:last-child{margin-bottom: 0;}
}



// header search
.header-search{width: 20%;max-width: 250px;position: relative;transition:all ease .2s;
    .form-input{position: relative;z-index: 1;}
    .form-input-clear{position: absolute;width: 11px;height: 11px;right: 15px;top: -webkit-calc(50% - 6px);top: -moz-calc(50% - 6px);top: calc(50% - 6px);cursor: pointer;
        &:after,&:before{content: '';display: block;position: absolute;height: 2px;width: 13px;border-radius: 30%;background-color: #8c8c8b;top: calc(50% - 1px);left: calc(50% - 7px);transform-origin: 50% 50%;opacity: .5;transition: all 300ms ease;transform: rotate(45deg) translateZ(0px)}
        &:before{transform: rotate(-45deg) translateZ(0px);}

        &:hover{
            &:after,&:before{background-color: #000;}
        }
    }
    .form-input-wrap{
        input{width: 100%;max-width: 280px;height: 51px;display: block;padding: 0 40px 0px 40px;border:none;color: #8c8c8b;font-size: 14px;border-left:2px solid #d9d9d9;
            &::-webkit-input-placeholder {color:#8c8c8b;}
            &:-moz-placeholder {color:#8c8c8b;}
            &::-moz-placeholder {color:#8c8c8b;}
            &:-ms-input-placeholder {color:#8c8c8b;}

            &.error{
                &::-webkit-input-placeholder {color:red;}
                &:-moz-placeholder {color:red;}
                &::-moz-placeholder {color:red;}
                &:-ms-input-placeholder {color:red;}
            }
        }
    }
    .submit-button{position: absolute;top: calc(50% - 9px);left: 7px;z-index: 2;cursor: pointer;
        &:hover{
            button{opacity: .55;}
        }
        button{border: none;background-color: transparent;opacity: .25;transition: opacity 300ms ease;cursor: pointer;}
    }
}


// contact us page
.casino-item .texter.cont-form{margin:0 auto;}
.texter .wpcf7{max-width: 280px;width: 100%;margin:0 auto;
    .ajax-loader{display: none;}
    p{margin:0 auto;margin-bottom: 30px;}
    input,textarea{height: 50px;background-color: #fff;border: 1px solid #c5c5c5;border-radius: 3px;text-align: center;line-height: 50px;padding: 0 5px;width: 100%;color: #a0a0a0;font-family: 'Asap',sans-serif;
        &::-webkit-input-placeholder {color: #a0a0a0;font-family: 'Asap',sans-serif;text-transform: uppercase;}
        &:-moz-placeholder {color: #a0a0a0;font-family: 'Asap',sans-serif;text-transform: uppercase;}
        &::-moz-placeholder {color: #a0a0a0;font-family: 'Asap',sans-serif;text-transform: uppercase;}
        &:-ms-input-placeholder {color: #a0a0a0;font-family: 'Asap',sans-serif;text-transform: uppercase;}
    }
    textarea{height: 120px;resize:none;text-align: left;
        &::-webkit-input-placeholder {text-align: center;}
        &:-moz-placeholder {text-align: center;}
        &::-moz-placeholder {text-align: center;}
        &:-ms-input-placeholder {text-align: center;}

    }
    input[type=submit]{background-color: #336699;cursor:pointer;font-size: 16px;font-weight: 700;text-transform: uppercase;color: white;
        &:hover{background-color: #1D4975;color: #f7f7f7;}
    }
}

.shared-social{max-width: 130px;margin:0 auto;
    .inside-right-title{font-weight: 500;font-size: 12px;color: #000;text-transform: uppercase;text-align: center;margin-bottom: 10px;}
    .inside-socials{display: flex;justify-content: center;align-items: center;}
    .inside-soc-item{margin:0 10px;
        a{position: relative;display: inline-block;
            img{transition: opacity 300ms ease;}
        }
        .inside-soc-val{position: absolute;top: -8px;right: -8px;border: 2px solid #fff;width: 17px;height: 17px;background-color: #d24a43;font-size: 10px;color: #fff;display: flex;justify-content: center;align-items: center;border-radius: 50%;}
    }
}

