<div class="casino-list-wrap">
    <div class="conteiner">
        <div class="title-text">
            <h2>RECENT POSTS FROM ALL CATEGORIES</h2>
        </div>
        <div class="content">
            <div class="item-list">
                <div class="item">
                    <div class="left-it">
                        <img src="images/rg451.png" alt="">
                    </div>
                    <div class="right-it">
                        <h5>10 EUR No Deposit Bonus at Super Casino</h5>
                        <p>
                            <img src="images/flag1.png" alt="">
                            <span>Players from your country accepted</span>
                        </p>
                        <table class="decript">
                            <tr>
                                <td>Valid for:</td>
                                <td>New Players</td>
                            </tr>
                            <tr>
                                <td>Bonus</td>
                                <td>Type: No Deposit Bonus</td>
                            </tr>
                        </table>
                        <div class="conteiner-buton">
                            <a href="" class="button-blue">MORE INFO</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="left-it">
                        <img src="images/rg451.png" alt="">
                    </div>
                    <div class="right-it">
                        <h5>10 EUR No Deposit Bonus at Super Casino</h5>
                        <p>
                            <img src="images/flag2.png" alt="">
                            <span>Players from your country accepted</span>
                        </p>
                        <table class="decript">
                            <tr>
                                <td>Valid for:</td>
                                <td>New Players</td>
                            </tr>
                            <tr>
                                <td>Bonus</td>
                                <td>Type: No Deposit Bonus</td>
                            </tr>
                        </table>
                        <div class="conteiner-buton">
                            <a href="" class="button-blue">MORE INFO</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="left-it">
                        <img src="images/rg451.png" alt="">
                    </div>
                    <div class="right-it">
                        <h5>10 EUR No Deposit Bonus at Super Casino</h5>
                        <p>
                            <img src="images/flag2.png" alt="">
                            <span>Players from your country accepted</span>
                        </p>
                        <table class="decript">
                            <tr>
                                <td>Valid for:</td>
                                <td>New Players</td>
                            </tr>
                            <tr>
                                <td>Bonus</td>
                                <td>Type: No Deposit Bonus</td>
                            </tr>
                        </table>
                        <div class="conteiner-buton">
                            <a href="" class="button-blue">MORE INFO</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="left-it">
                        <img src="images/rg452.png" alt="">
                    </div>
                    <div class="right-it">
                        <h5>Sky Casino | Play Live Casino Games Anywhere</h5>
                        <p>
                            <span>На странице Fenikss Casino вы сможете сделать выбор из широкого предложения услуг оригинальных игровых автоматов NOVOMATIC. Исключительное право представлять эти автоматы в Латвии есть у Fenikss Casino...</span>
                        </p>
                        <div class="conteiner-buton">
                            <a href="" class="button-blue">MORE INFO</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="left-it">
                        <img src="images/rg453.png" alt="">
                    </div>
                    <div class="right-it">
                        <h5>Online Slots - Play Slots <br> on Mobile & Desktop - 5$ K Bonus </h5>
                        <p>
                            <span>На странице Fenikss Casino вы сможете сделать выбор из широкого предложения услуг оригинальных игровых автоматов NOVOMATIC. Исключительное право представлять эти автоматы в Латвии есть у Fenikss Casino...</span>
                        </p>
                        <div class="conteiner-buton">
                            <a href="" class="button-blue">MORE INFO</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="paginator">
                <a href="" class="previouspostslink"></a>
                <a href="">1</a>
                <span class="current">2</span>
                <a href="">3</a>
                <a href="">4</a>
                <a href="" class="nextpostslink"></a>
            </div>

        </div>
    </div>
</div>

<div class="second-block-wrap">
    <div class="conteiner">
        <div class="title-text">
            <h2>NEW NETENT CASINOS</h2>
        </div>
        <div class="content">
            <div class="top-text">The entire logo is used to convey the meaning intendend and avoid ternishing or misrepresenting the intendent image</div>
            <div class="item-table">
                <div class="item">
                    <div class="con1">
                        <img src="images/cs1.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 1 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs2.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 2 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs3.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 3 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs4.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 4 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs5.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 5 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs1.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 1 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs2.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 2 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs3.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 3 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs4.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 4 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs5.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 5 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conteiner">
        <div class="title-text">
            <h2>NEW NETENT CASINOS</h2>
        </div>
        <div class="content">
            <div class="top-text">The entire logo is used to convey the meaning intendend and avoid ternishing or misrepresenting the intendent image</div>
            <div class="item-table">
                <div class="item">
                    <div class="con1">
                        <img src="images/cs1.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 1 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs2.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 2 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs3.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 3 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs4.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 4 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs5.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 5 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs1.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 1 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs2.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 2 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs3.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 3 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs4.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 4 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs5.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 5 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="slice-wrap slice1">
    <div class="conteiner">
        <div class="title-text">
            <h2>BONUS VIA EMAIL</h2>
        </div>
        <div class="content">
            <p class="look-smile">Письмо было отравлено вам на почту. Если письмо не пришло - ето к Вите</p>
            <div class="form-conteiner">
                <form action="ajax.php" name="bonus-email" class="bonus-email">
                    <div class="contact-form-row cfix">
                        <div class="contact-form-item">
                            <div class="contact-form-item-input form_row">
                                <div class="form_input">
                                    <input type="email" name="contact_email" required="required" value="" placeholder="Enter email here">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-row cfix">
                        <div class="contact-form-item">
                            <button type="submit" class="button-blue contact-submit">
                                <span>GER BONUSES</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="slice-wrap slice2">
    <div class="conteiner">
        <div class="title-text">
            <h2>FEATURED CASINO</h2>
        </div>
        <div class="content">
            <div class="top-imageblock">
                <img src="images/slice1.jpg" alt="">
            </div>
            <div class="texter">
                <h5>Online Slots - Play Slots <br/> on Mobile & Desktop - 5$ K Bonus </h5>
                <p>На странице Fenikss Casino вы сможете сделать выбор из широкого предложения услуг оригинальных игровых автоматов На странице Fenikss Casino вы сможете сделать выбор из широкого предложения услуг оригинальных игровых автоматов </p>
                <div class="convert-butt">
                    <a href="" class="button-green button-now">PLAY NOW</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="slice-wrap slice3">
    <div class="conteiner">
        <div class="title-text">
            <h2>BONUS KATEGORIES</h2>
        </div>
        <div class="content">
            <div class="lister">
                <ul>
                    <li>
                        <a href="">HOME</a>
                    </li>
                    <li>
                        <a href="">BONUSES</a>
                    </li>
                    <li>
                        <a href="">CASINO</a>
                    </li>
                    <li>
                        <a href="">DEPOSIT BONUSES</a>
                    </li>
                    <li>
                        <a href="">NO DEPOSIT BONUSES</a>
                    </li>
                    <li>
                        <a href="">SPORTSBOOK</a>
                    </li>
                    <li>
                        <a href="">CASINOS</a>
                    </li>
                    <li>
                        <a href="">NETENT</a>
                    </li>
                    <li>
                        <a href="">MICROGAMING</a>
                    </li>
                    <li>
                        <a href="">PLAYTECH</a>
                    </li>
                    <li>
                        <a href="">BOOKIES</a>
                    </li>
                    <li>
                        <a href="">NEWS</a>
                    </li>
                    <li>
                        <a href="">SUBSCRIBE</a>
                    </li>
                    <li>
                        <a href="">JOIN NOW</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>