<div class="casino-list-wrap">
    <div class="conteiner">
        <div class="title-text">
            <h2>RECENT POSTS FROM ALL CATEGORIES</h2>
        </div>
        <div class="content">
            <div class="item-list">
                <div class="item">
                    <div class="left-it">
                        <img src="images/rg451.png" alt="">
                    </div>
                    <div class="right-it">
                        <h5>10 EUR No Deposit Bonus at Super Casino</h5>
                        <p>
                            <img src="images/flag1.png" alt="">
                            <span>Players from your country accepted</span>
                        </p>
                        <table class="decript">
                            <tr>
                                <td>Valid for:</td>
                                <td>New Players</td>
                            </tr>
                            <tr>
                                <td>Bonus</td>
                                <td>Type: No Deposit Bonus</td>
                            </tr>
                        </table>
                        <div class="conteiner-buton">
                            <a href="" class="button-blue">MORE INFO</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="left-it">
                        <img src="images/rg451.png" alt="">
                    </div>
                    <div class="right-it">
                        <h5>10 EUR No Deposit Bonus at Super Casino</h5>
                        <p>
                            <img src="images/flag2.png" alt="">
                            <span>Players from your country accepted</span>
                        </p>
                        <table class="decript">
                            <tr>
                                <td>Valid for:</td>
                                <td>New Players</td>
                            </tr>
                            <tr>
                                <td>Bonus</td>
                                <td>Type: No Deposit Bonus</td>
                            </tr>
                        </table>
                        <div class="conteiner-buton">
                            <a href="" class="button-blue">MORE INFO</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="left-it">
                        <img src="images/rg451.png" alt="">
                    </div>
                    <div class="right-it">
                        <h5>10 EUR No Deposit Bonus at Super Casino</h5>
                        <p>
                            <img src="images/flag2.png" alt="">
                            <span>Players from your country accepted</span>
                        </p>
                        <table class="decript">
                            <tr>
                                <td>Valid for:</td>
                                <td>New Players</td>
                            </tr>
                            <tr>
                                <td>Bonus</td>
                                <td>Type: No Deposit Bonus</td>
                            </tr>
                        </table>
                        <div class="conteiner-buton">
                            <a href="" class="button-blue">MORE INFO</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="left-it">
                        <img src="images/rg452.png" alt="">
                    </div>
                    <div class="right-it">
                        <h5>Sky Casino | Play Live Casino Games Anywhere</h5>
                        <p>
                            <span>На странице Fenikss Casino вы сможете сделать выбор из широкого предложения услуг оригинальных игровых автоматов NOVOMATIC. Исключительное право представлять эти автоматы в Латвии есть у Fenikss Casino...</span>
                        </p>
                        <div class="conteiner-buton">
                            <a href="" class="button-blue">MORE INFO</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="left-it">
                        <img src="images/rg453.png" alt="">
                    </div>
                    <div class="right-it">
                        <h5>Online Slots - Play Slots <br> on Mobile & Desktop - 5$ K Bonus </h5>
                        <p>
                            <span>На странице Fenikss Casino вы сможете сделать выбор из широкого предложения услуг оригинальных игровых автоматов NOVOMATIC. Исключительное право представлять эти автоматы в Латвии есть у Fenikss Casino...</span>
                        </p>
                        <div class="conteiner-buton">
                            <a href="" class="button-blue">MORE INFO</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="paginator">
                <a href="" class="previouspostslink"></a>
                <a href="">1</a>
                <span class="current">2</span>
                <a href="">3</a>
                <a href="">4</a>
                <a href="" class="nextpostslink"></a>
            </div>

        </div>
    </div>
</div>