<div class="main-baner">
    <div class="mbox">
        <div class="main-baner-wrap ">
            <div class="main-baner-wrapper cfix ">
                <div class="item big">
                    <a href="#">
                        <img src="images/main-baner-1.jpg" alt="">
                    </a>
                </div>
                <div class="item">
                    <div class="sub-item">
                        <a href="#">
                            <img src="images/main-baner-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="sub-item">
                        <a href="#">
                            <img src="images/main-baner-3.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>