<!-- HEADER -->
<header>
    <div class="mbox">
        <div class="top-head">
            <div class="logo">
                <a href="#">
                    <img src="images/logo.png" alt="">
                    <span class="logo-flag">
                        <img src="images/flags/Sweden.png" alt="">
                    </span>
                </a>
            </div>
            <div class="baner">
                <a href="#">
                    <img src="images/baner-1.png" alt="">
                </a>
            </div>
        </div>
        <div class="bottom-head">
            <nav>
                <ul>
                    <li class="active"><a href="#"><span>Home</span></a></li>
                    <li class="menu-item-has-children">
                        <a href="#"><span>Bonuses</span></a>
                        <ul>
                            <li><a href="#"><span>Deposit Bonuses</span></a></li>
                            <li><a href="#"><span>No Deposit Bonuses</span></a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#"><span>Casinos</span></a>
                        <ul>
                            <li><a href="#"><span>Casino </span></a></li>
                            <li><a href="#"><span>Soft </span></a></li>
                            <li><a href="#"><span>Scandinavian </span></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span>Bookies</span></a></li>
                    <li><a href="#"><span>News</span></a></li>
                    <li><a href="#"><span>Subscribe</span></a></li>
                    <li><a href="#"><span>Join Now</span></a></li>
                    <li><a href="#"><span>Login</span></a></li>
                </ul>
            </nav>
            <div class="social">
                <ul>
                    <li><a href="#" target="_blank"><img src="images/social-1.png" alt=""></a></li>
                    <span class="soc-mob">
                        <span class="green-arrow"></span>
                        <li><a href="#" target="_blank"><img src="images/social-2.png" alt=""></a></li>
                        <li><a href="#" target="_blank"><img src="images/social-3.png" alt=""></a></li>
                        <li><a href="#" target="_blank"><img src="images/social-4.png" alt=""></a></li>
                    </span>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

