<div class="registration-message">

    <div class="title-text">
        <h2>REGISTRATION</h2>
    </div>


    <div class="registration-message-wrap">

        <div class="registration-message-title">
            <p>CONGRATULATIONS!</p>
            <p>YOU HAVE SUCCESSFULLY REGISTERED.</p>
        </div>

        <div class="registration-message-text">Thank for signing up my presentation on «what you must know before leaving your house with your gun». This critical presentation is a must for all armed citizens, and it’s my call to action for all honest, law-abiding citizens across the USA.</div>

        <div class="registration-message-link">
            <a href="#" class="button-blue">
                <span>MY ACCOUNT</span>
            </a>
        </div>

    </div>

</div>