<div class="second-block-wrap">
    <div class="conteiner">
        <div class="title-text">
            <h2>NEW NETENT CASINOS</h2>
        </div>
        <div class="content">
            <div class="top-text">The entire logo is used to convey the meaning intendend and avoid ternishing or misrepresenting the intendent image</div>
            <div class="item-table">
                <div class="item">
                    <div class="con1">
                        <img src="images/cs1.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 1 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs2.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 2 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs3.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 3 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs4.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 4 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs5.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 5 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs1.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 1 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs2.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 2 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs3.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 3 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs4.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 4 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs5.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 5 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conteiner">
        <div class="title-text">
            <h2>NEW NETENT CASINOS</h2>
        </div>
        <div class="content">
            <div class="top-text">The entire logo is used to convey the meaning intendend and avoid ternishing or misrepresenting the intendent image</div>
            <div class="item-table">
                <div class="item">
                    <div class="con1">
                        <img src="images/cs1.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 1 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs2.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 2 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs3.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 3 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs4.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 4 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs5.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 5 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs1.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 1 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs2.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 2 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs3.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 3 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs4.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 4 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
                <div class="item">
                    <div class="con1">
                        <img src="images/cs5.png" alt="">
                    </div>
                    <div class="con2"> Casino nomer 5 </div>
                    <div class="con3">
                        <a href="" class="button-green">PLAY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>