<div class="statistic-list">

    <div class="title-text">
        <h2>LOGIN</h2>
    </div>

    <div class="statistic-list-main">

        <div class="statistic-content cfix">

            <div class="statistic-content-svg">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 130 130" data-green=1.25 data-blue=1.25>

                    <circle cx="65" cy="65" r="58" stroke="#e6e6e6" stroke-width="14" fill="none" />
                    <circle cx="65" cy="65" r="45" stroke="#e6e6e6" stroke-width="8" fill="none" />

                    <circle class="green-value" cx="65" cy="65" r="58" stroke="#a5d000" stroke-width="14" fill="none" />
                    <circle class="blue-value" cx="65" cy="65" r="45" stroke="#336699" stroke-width="8" fill="none" />

                    <text class="green-text" x=50% y=50% text-anchor="middle"></text>
                    <text class="blue-text" x=50% y=65% text-anchor="middle"></text>

                </svg>
            </div>

            <div class="statistic-content-logo">
                <div class="statistic-logo-text orange-logo-text">
                    <span>recommended</span>
                </div>
                <div class="satistic-img">
                    <img src="images/statistic-casino-1.png" alt="" />
                </div>
            </div>

            <div class="static-content-info">
                <div class="static-info-title">Super Mega Casino Rewiew</div>
                <div class="static-info-top">
                    <div class="static-info-flag">
                        <img src="images/flags/Sweden.png" alt="" />
                    </div>
                    <div class="static-info-top-text">Players from your country accepted</div>
                </div>
                <div class="statistic-info-bottom">
                    <div class="statistic-info-bottom-title">Latest Bonus:</div>
                    <div class="statistic-info-bottom-text">
                        <p>10 EUR No Deposit Bonus</p>
                        <p>at Super Casino</p>
                    </div>
                </div>
                <div class="statistic-info-button">
                    <a href="#" class="button-blue">
                        <span>MORE INFO</span>
                    </a>
                </div>
            </div>

        </div>

        <div class="statistic-content cfix">

            <div class="statistic-content-svg">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 130 130" data-green=2.5 data-blue=2.5>

                    <circle cx="65" cy="65" r="58" stroke="#e6e6e6" stroke-width="14" fill="none" />
                    <circle cx="65" cy="65" r="45" stroke="#e6e6e6" stroke-width="8" fill="none" />

                    <circle class="green-value" cx="65" cy="65" r="58" stroke="#a5d000" stroke-width="14" fill="none" />
                    <circle class="blue-value" cx="65" cy="65" r="45" stroke="#336699" stroke-width="8" fill="none" />

                    <text class="green-text" x=50% y=50% text-anchor="middle"></text>
                    <text class="blue-text" x=50% y=65% text-anchor="middle"></text>

                </svg>
            </div>

            <div class="statistic-content-logo">
                <div class="statistic-logo-text red-logo-text">
                    <span>new</span>
                </div>
                <div class="satistic-img">
                    <img src="images/statistic-casino-2.png" alt="" />
                </div>
            </div>

            <div class="static-content-info">
                <div class="static-info-title">Super Mega Casino Rewiew</div>
                <div class="static-info-top">
                    <div class="static-info-flag">
                        <img src="images/flags/Sweden.png" alt="" />
                    </div>
                    <div class="static-info-top-text">Players from your country accepted</div>
                </div>
                <div class="statistic-info-bottom">
                    <div class="statistic-info-bottom-title">Latest Bonus:</div>
                    <div class="statistic-info-bottom-text">
                        <p>10 EUR No Deposit Bonus</p>
                        <p>at Super Casino</p>
                    </div>
                </div>
                <div class="statistic-info-button">
                    <a href="#" class="button-blue">
                        <span>MORE INFO</span>
                    </a>
                </div>
            </div>

        </div>

        <div class="statistic-content cfix">

            <div class="statistic-content-svg">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 130 130" data-green=3.75 data-blue=3.75>

                    <circle cx="65" cy="65" r="58" stroke="#e6e6e6" stroke-width="14" fill="none" />
                    <circle cx="65" cy="65" r="45" stroke="#e6e6e6" stroke-width="8" fill="none" />

                    <circle class="green-value" cx="65" cy="65" r="58" stroke="#a5d000" stroke-width="14" fill="none" />
                    <circle class="blue-value" cx="65" cy="65" r="45" stroke="#336699" stroke-width="8" fill="none" />

                    <text class="green-text" x=50% y=50% text-anchor="middle"></text>
                    <text class="blue-text" x=50% y=65% text-anchor="middle"></text>

                </svg>
            </div>

            <div class="statistic-content-logo">
                <div class="satistic-img">
                    <img src="images/statistic-casino-3.png" alt="" />
                </div>
            </div>

            <div class="static-content-info">
                <div class="static-info-title">Super Mega Casino Rewiew</div>
                <div class="static-info-top">
                    <div class="static-info-flag">
                        <img src="images/flags/Sweden.png" alt="" />
                    </div>
                    <div class="static-info-top-text">Players from your country accepted</div>
                </div>
                <div class="statistic-info-bottom">
                    <div class="statistic-info-bottom-title">Latest Bonus:</div>
                    <div class="statistic-info-bottom-text">
                        <p>10 EUR No Deposit Bonus</p>
                        <p>at Super Casino</p>
                    </div>
                </div>
                <div class="statistic-info-button">
                    <a href="#" class="button-blue">
                        <span>MORE INFO</span>
                    </a>
                </div>
            </div>

        </div>

        <div class="statistic-content cfix">

            <div class="statistic-content-svg">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 130 130" data-green=5 data-blue=5>

                    <circle cx="65" cy="65" r="58" stroke="#e6e6e6" stroke-width="14" fill="none" />
                    <circle cx="65" cy="65" r="45" stroke="#e6e6e6" stroke-width="8" fill="none" />

                    <circle class="green-value" cx="65" cy="65" r="58" stroke="#a5d000" stroke-width="14" fill="none" />
                    <circle class="blue-value" cx="65" cy="65" r="45" stroke="#336699" stroke-width="8" fill="none" />

                    <text class="green-text" x=50% y=50% text-anchor="middle"></text>
                    <text class="blue-text" x=50% y=65% text-anchor="middle"></text>

                </svg>
            </div>

            <div class="statistic-content-logo">
                <div class="satistic-img">
                    <img src="images/statistic-casino-1.png" alt="" />
                </div>
            </div>

            <div class="static-content-info">
                <div class="static-info-title">Super Mega Casino Rewiew</div>
                <div class="static-info-top">
                    <div class="static-info-flag">
                        <img src="images/flags/Sweden.png" alt="" />
                    </div>
                    <div class="static-info-top-text">Players from your country accepted</div>
                </div>
                <div class="statistic-info-bottom">
                    <div class="statistic-info-bottom-title">Latest Bonus:</div>
                    <div class="statistic-info-bottom-text">
                        <p>10 EUR No Deposit Bonus</p>
                        <p>at Super Casino</p>
                    </div>
                </div>
                <div class="statistic-info-button">
                    <a href="#" class="button-blue">
                        <span>MORE INFO</span>
                    </a>
                </div>
            </div>

        </div>

    </div>

</div>