<div class="statistic-main">

    <div class="title-text">
        <h2>ALL CASINO > SUPER CASINO</h2>
    </div>

    <div class="statistic-content cfix">

        <div class="statistic-content-svg">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 130 130" data-green=2.5 data-blue=2.5>

                <circle cx="65" cy="65" r="58" stroke="#e6e6e6" stroke-width="14" fill="none" />
                <circle cx="65" cy="65" r="45" stroke="#e6e6e6" stroke-width="8" fill="none" />

                <circle class="green-value" cx="65" cy="65" r="58" stroke="#a5d000" stroke-width="14" fill="none" />
                <circle class="blue-value" cx="65" cy="65" r="45" stroke="#336699" stroke-width="8" fill="none" />

                <text class="green-text" x=50% y=50% text-anchor="middle"></text>
                <text class="blue-text" x=50% y=65% text-anchor="middle"></text>

            </svg>
        </div>

        <div class="statistic-content-logo">
            <div class="statistic-logo-text red-logo-text">
                <span>new</span>
            </div>
            <div class="satistic-img">
                <img src="images/statistic-casino-2.png" alt="" />
            </div>
        </div>

        <div class="static-content-info">
            <div class="static-info-title">Super Mega Casino Rewiew</div>
            <div class="static-info-top">
                <div class="static-info-flag">
                    <img src="images/flags/Sweden.png" alt="" />
                </div>
                <div class="static-info-top-text">Players from your country accepted</div>
            </div>
            <div class="statistic-info-bottom">
                <div class="statistic-info-bottom-title">Latest Bonus:</div>
                <div class="statistic-info-bottom-text">
                    <p>10 EUR No Deposit Bonus</p>
                    <p>at Super Casino</p>
                </div>
            </div>
            <div class="statistic-info-button">
                <a href="#" class="button-blue">
                    <span>MORE INFO</span>
                </a>
            </div>
        </div>

        <div class="statistic-item-bottom">

            <div class="statistic-item-left">
                <div class="statistic-item-title">RATE CASINO</div>
                <div class="statistic-item-stars">
                    <ul class="rating" id="rating" data-rate="3">
                    </ul>
                </div>
            </div>

            <div class="statistic-item-rating">
                <div class="statistic-item-rating-row">
                    <div class="statistic-item-rating-text">OUR RATING</div>
                    <div class="statistic-item-rating-value">2.5</div>
                </div>
                <div class="statistic-item-rating-row">
                    <div class="statistic-item-rating-text">PLAYERS RATING</div>
                    <div class="statistic-item-rating-value">2.5</div>
                </div>
            </div>

        </div>

    </div>

    <!-- -->

    <div class="title-text">
        <h2>Super Mega Casino Details</h2>
    </div>

    <div class="static-item-descript cfix static-item-descript-hasImg">

        <div class="list">
            <table>
                <tr>
                    <td>
                        <span class="descript-title">Software:</span>
                    </td>
                    <td>
                        <span class="descript-text">RTG, BetSoft</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="descript-title">Payout:</span>
                    </td>
                    <td>
                        <span class="descript-text">96.68%</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="descript-title">Casino versions:</span>
                    </td>
                    <td>
                        <span class="descript-text">Download, Instant, Play, Flash, Mobile</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="descript-title">Operating System:</span>
                    </td>
                    <td>
                        <span class="descript-text">Windows, Mac, Linux, IOS, Android</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="descript-title">Languges:</span>
                    </td>
                    <td>
                        <span class="descript-text">English</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="descript-title">Currencies:</span>
                    </td>
                    <td>
                        <span class="descript-text">USD, CAD</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="descript-title">US players:</span>
                    </td>
                    <td>
                        <span class="descript-text">Yes - Click for all USA Casino Reviews</span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="list-img">
            <img src="images/list-img.png" alt="" />
        </div>

    </div>

    <div class="title-text">
        <h2>Super Mega Casino Banking</h2>
    </div>

    <div class="static-item-descript cfix">
        <div class="list">
            <table>
                <tr>
                    <td>
                        <span class="descript-title">Deposit Methods:</span>
                    </td>
                    <td>
                        <span class="descript-text">Visa, Visa Electron, Wire Transfer</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="descript-title">Minimum Deposit:</span>
                    </td>
                    <td>
                        <span class="descript-text">$20 - Tip: Check Slots.lv Casino terms and conditions before depositing money </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="descript-title">Withdrawal Metods:</span>
                    </td>
                    <td>
                        <span class="descript-text">Cheque, Visa, Wire Transfer</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="descript-title">Withdrawal Limits:</span>
                    </td>
                    <td>
                        <span class="descript-text">$2500 per week</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="descript-title">Minimum Withdrawal:</span>
                    </td>
                    <td>
                        <span class="descript-text">$20</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="descript-title">Minimum Timeframes:</span>
                    </td>
                    <td>
                        <span class="descript-text">
                            <p>Wire Transfer  - 5-10 business days</p>
                            <p>Cheque - 4-7 business days</p>
                            <p>Credit Cards - 4-7 business days</p>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="title-text">
        <h2>Additional Information</h2>
    </div>

    <div class="static-item-descript cfix">
        <div class="list">
            <table>
                <tr>
                    <td>
                        <span class="descript-title">Established:</span>
                    </td>
                    <td>
                        <span class="descript-text">2013</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="descript-title">Allowed Countries:</span>
                    </td>
                    <td>
                        <span class="descript-text">Canada, USA</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="descript-title">Jurisdiction (license):</span>
                    </td>
                    <td>
                        <span class="descript-text">iTech Labs</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="descript-title">Certified by:</span>
                    </td>
                    <td>
                        <span class="descript-text">Betting Partners</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="descript-title">Afiliate Program:</span>
                    </td>
                    <td>
                        <span class="descript-text">USD, CAD</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="descript-title">Sister Casinos:</span>
                    </td>
                    <td>
                        <span class="descript-text">
                            <p>Bovada Casino</p>
                            <p>Bodog Casino</p>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>



</div>