<div class="slice-wrap slice1">
    <div class="conteiner">
        <div class="title-text">
            <h2>BONUS VIA EMAIL</h2>
        </div>
        <div class="content">
            <p class="look-smile">Письмо было отравлено вам на почту. Если письмо не пришло - ето к Вите</p>
            <div class="form-conteiner">
                <form action="ajax.php" name="bonus-email" class="bonus-email">
                    <div class="contact-form-row cfix">
                        <div class="contact-form-item">
                            <div class="contact-form-item-input form_row">
                                <div class="form_input">
                                    <input type="email" name="contact_email" required="required" value="" placeholder="Enter email here">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-row cfix">
                        <div class="contact-form-item">
                            <button type="submit" class="button-blue contact-submit">
                                <span>GER BONUSES</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>