
    <div class="conteiner">
        <div class="title-text">
            <h2>BONUS KATEGORIES</h2>
        </div>
        <div class="content">
            <div class="lister">
                <ul>
                    <li>
                        <a href="">HOME</a>
                    </li>
                    <li>
                        <a href="">BONUSES</a>
                    </li>
                    <li>
                        <a href="">CASINO</a>
                    </li>
                    <li>
                        <a href="">DEPOSIT BONUSES</a>
                    </li>
                    <li>
                        <a href="">NO DEPOSIT BONUSES</a>
                    </li>
                    <li>
                        <a href="">SPORTSBOOK</a>
                    </li>
                    <li>
                        <a href="">CASINOS</a>
                    </li>
                    <li>
                        <a href="">NETENT</a>
                    </li>
                    <li>
                        <a href="">MICROGAMING</a>
                    </li>
                    <li>
                        <a href="">PLAYTECH</a>
                    </li>
                    <li>
                        <a href="">BOOKIES</a>
                    </li>
                    <li>
                        <a href="">NEWS</a>
                    </li>
                    <li>
                        <a href="">SUBSCRIBE</a>
                    </li>
                    <li>
                        <a href="">JOIN NOW</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
