
    <div class="conteiner">
        <div class="title-text">
            <h2>FEATURED CASINO</h2>
        </div>
        <div class="content">
            <div class="top-imageblock">
                <img src="images/slice1.jpg" alt="">
            </div>
            <div class="texter">
                <h5>Online Slots - Play Slots on Mobile & Desktop - 5$ K Bonus </h5>
                <p>На странице Fenikss Casino вы сможете сделать выбор из широкого предложения услуг оригинальных игровых автоматов На странице Fenikss Casino вы сможете сделать выбор из широкого предложения услуг оригинальных игровых автоматов </p>
                <div class="convert-butt">
                    <a href="" class="button-green button-now">PLAY NOW</a>
                </div>
            </div>
        </div>
    </div>