@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1190px){
    /*header*/
    header{
        .bottom-head nav{width: 80%;}
    }
    /*header*/
}
@media screen and (max-width: 1024px){
    /*header*/
    header{
        .top-head{flex-direction: column;min-height: 285px;justify-content: space-around;}
        .bottom-head{overflow: inherit;}
        .bottom-head nav{width: calc(100% - 66px);}
        .bottom-head .social{width: 65px;overflow: inherit;position: relative;
            ul{display: block;}
            &>ul li{width: 100%;height: 100%;}

            .soc-mob{width: 100%;position: absolute;display: block;top: 100%;left: 0;height: 100%;
                .green-arrow{position: absolute;display: block;top: 0;left: 0;width: 100%;border-left: 33px solid transparent;border-right: 33px solid transparent;border-top: 15px solid #a5d000;z-index: 25;height: 15px;}
                li{width: 100%;height: 100%;background-color: #fff;border-bottom:2px solid #dddddd;display: none;
                    &:hover{opacity: 1;}
                }
            }
            .green-arrow{}
            a{
                img{}
            }
        }
    }
    /*header*/
}
@media screen and (max-width: 992px){
    header .bottom-head nav li.menu-item-has-children:after{display: none;}
}
@media screen and (max-width: 888px){

}
@media screen and (max-width: 768px){
    /*header*/
    header{
        .top-head{padding-top: 60px;min-height: 345px;}
        .bottom-head{position: absolute;top: 0;left: 0;width: 100%;height: 60px;background-color: #5b5b5b;border:none;padding: 0 10px;
            .mobile-button{display: block;height: 100%;width: 40px;position: relative;cursor: pointer;
                &.active{
                    span{opacity: 0;}
                    &:before{transform: translateY(-50%) rotate(45deg);top: 50%;}
                    &:after{transform: translateY(-50%) rotate(-45deg);top: 50%;}
                }
                &:after,&:before,span{position: absolute;left: 0;content: '';top: 50%;width: 30px;height: 3px;background-color: #fff;transform: translateY(-50%);transition:all ease-out .2s;}
                &:after{top: 65%;}
                &:before{top: 35%;}
            }
        }
        .bottom-head nav{position: absolute;top: 100%;left: 0;display: none;width: 100%;background-color: #fff;height:auto;
            ul{display: block;}
            li{display: block;background-color: #fff;
                &:hover,&.active{background-color: transparent;
                    a{color: #a5d000;}
                }
            }
            li:hover.menu-item-has-children > ul{display: none;opacity: 1;visibility: visible;}
            a{padding: 16px 5px;}
        }

        .bottom-head .social{width: 35%;
            ul{display: flex;}
            &>ul li{width: 25%;border:none;}

            .soc-mob{width: 75%;position: static;display: flex;
                .green-arrow{display: none;}
                li{display: block !important;width: 33.33%;background-color: transparent;border:none;}
            }
            .green-arrow{}
            a{
                img{display: none;}
                img.mobile-show{display: block;}
            }
        }
    }
    /*header*/
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}