@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1405px){
    .main-baner .sub-item:first-child img{top: 50%;}
}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1190px){
    /*header*/
    header{
        .bottom-head nav{width: 80%;}
    }
    /*header*/
}
@media screen and (max-width: 1024px){
    /*header*/
    header{
        .top-head{flex-direction: column;min-height: 285px;justify-content: space-around;}
        .bottom-head{overflow: inherit;}
        .bottom-head nav{width: calc(100% - 66px);}
        .bottom-head .social{width: 65px;overflow: inherit;position: relative;
            .soc-wrap{display: block;}
            &>.soc-wrap b{width: 100%;height: 100%;}

            .soc-mob{width: 100%;position: absolute;display: block;top: 100%;left: 0;height: 100%;
                .green-arrow{position: absolute;display: block;top: 0;left: 0;width: 100%;border-left: 33px solid transparent;border-right: 33px solid transparent;border-top: 15px solid #a5d000;z-index: 25;height: 15px;}
                b{width: 100%;height: 100%;background-color: #fff;border-bottom:2px solid #dddddd;display: none;margin-bottom: -2px;
                    &:hover{opacity: 1;}
                }
            }
            .green-arrow{}
            a{
                img{}
            }
        }
    }
    /*header*/

    /*main-baner*/
    .main-baner{
        .main-baner-wrap{height: 445px;padding: 27px;}
        .item{
            &.big{}
            img{max-width: 101%;}
        }
        .flag{min-height: 47px;
            span{padding-top: 14px;font-size: 14px;}
            &:after{border-bottom: 8px solid transparent;border-left: 34px solid #a5d000;border-right: 33px solid #a5d000;}
        }
    }
    /*/main-baner*/
}
@media screen and (max-width: 992px){
    header .bottom-head nav{
        a{padding: 21px 5px;}
        li.menu-item-has-children:after{display: none;}
    }
}
@media screen and (max-width: 888px){

}
@media screen and (max-width: 768px){
    /*header*/
    header{position: relative;
        &>.mbox{position: static;}
        .top-head{padding-top: 60px;min-height: 345px;}
        .bottom-head{position: absolute;top: 0;left: 0;width: 100%;height: 60px;background-color: #5b5b5b;border:none;padding: 0 10px;z-index: 1;
            .mobile-button{display: block;height: 100%;width: 40px;position: relative;cursor: pointer;
                &.active{
                    span{opacity: 0;}
                    &:before{transform: translateY(-50%) rotate(45deg);top: 50%;}
                    &:after{transform: translateY(-50%) rotate(-45deg);top: 50%;}
                }
                &:after,&:before,span{position: absolute;left: 0;content: '';top: 50%;width: 30px;height: 3px;background-color: #fff;transform: translateY(-50%);transition:all ease-out .2s;}
                &:after{top: 65%;}
                &:before{top: 35%;}
            }
        }
        .bottom-head nav{position: absolute;top: 100%;left: 0;display: none;width: 100%;background-color: #fff;height:auto;
            ul{display: block;}
            li.menu-item-has-children > ul li{text-align: center;}
            li{display: block;background-color: #fff;
                &:hover,&.active{background-color: transparent;
                    a{color: #a5d000;}
                    .mobile-head-arrow{background: url("../images/header-arrow-green.png") center left no-repeat;}
                }
            }
            li.menu-item-has-children > ul{max-width: 210px;left: 50%;transform: translateX(-50%);
                a{
                    .mobile-head-arrow{display: none;}
                }
            }
            li:hover.menu-item-has-children > ul{display: none;opacity: 1;visibility: visible;}
            a{padding: 16px 7px;display: inline-block;position: relative;}
            .mobile-head-arrow{position: absolute;top: 0;left: 100%;height: 100%;width: 40px;background-color: pink;background: url("../images/header-arrow.png") center left no-repeat;}
        }

        .bottom-head .social{width: 35%;
            .soc-wrap{display: flex;}
            &>.soc-wrap b{width: 25%;border:none;}

            .soc-mob{width: 75%;position: static;display: flex;
                .green-arrow{display: none;}
                b{display: block !important;width: 33.33%;background-color: transparent;border:none;}
            }
            .green-arrow{}
            a{
                img{display: none;}
                img.mobile-show{display: block;}
            }
        }
    }
    /*header*/

    /*main-baner*/
    .main-baner{
        .mbox{
            &:after,&:before{right: calc(100% - 24px); background-size: cover;}
            &:before{left: calc(100% - 24px);}
        }
        .main-baner-wrap{height: 690px;padding: 21px;margin:0 14px;
        }
        .main-baner-wrapper{}
        .item{height: 30%;width: 100%;
            &.big{width: 100%;height: 70%;border-right: none;}
            img{max-width: 101%;}
        }
        .sub-item{width: 50%;height: 100%;float: left;border-top: 3px solid #8f8f8f;
            &:first-child{border-bottom: none;border-right: 3px solid #8f8f8f;}
        }

        .flag{min-height: 47px;
            &:after{border-bottom: 8px solid transparent;border-left: 33px solid #a5d000;border-right: 34px solid #a5d000;}
            span{padding-top: 14px;font-size: 12px;}
        }
    }
    /*/main-baner*/

    /*casino-item*/
    .casino-item{
        .content{
            &.float-content{
                .item-img-wrap{width: 100%;text-align: center;margin-right: 0;}
            }
        }
        .item-img-wrap{width: 100%;
            .item-img{margin-bottom: 0;
                img{position: static;transform: translateX(0);}
            }
            .item-button{padding: 20px 0 0 0;
                .button-green{}
            }
        }
        .texter{width: 100%;padding-left: 0;
            h5{text-align: center;}
            p{
                img{}
            }
            .texter-table{padding-top: 15px;
                .row{}
                .td{
                    &:first-child{}
                    &:last-child{}
                }
            }
        }
        .bonuses-wrap{
            .item{}
            a{text-decoration: underline;
                &:hover{
                    &:after{}
                }

                &:first-child{max-width: 72%;
                    &:after{display: none;}
                }
                &:last-child{
                    &:after{display: none;}
                }
            }
        }
    }
    /*/casino-item*/
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 640px){
    /*header*/
    header{
        .bottom-head{height: 100px;padding: 0 30px;}
        .bottom-head .mobile-button{width: 60px;
            &:after,&:before,span{width: 50px;}
        }
        .bottom-head .social{width: 55%;
            a img{transform: translate(-50%, -50%) scale(1.4);}
        }
        .top-head{min-height: 423px;padding-top: 115px;}
        .logo{
            a>img{display: none;}
            img.logo-mobile{display: block;}
            .logo-flag{bottom: 20px;right: 1px;}
        }
        .bottom-head nav a{font-size: 28px;padding: 13px 7px;}
        .bottom-head nav li.active a{font-weight: bold;}
        .bottom-head nav li.menu-item-has-children > ul{max-width: 290px;}
    }
    /*/heade*/

    /*main-baner*/
    .main-baner{
        .mbox{
            &:after,&:before{display: none;}
        }
        .main-baner-wrap{height: 1100px;padding: 3px 3px 6px;margin:0 auto;background-color: #8f8f8f;}
        .item{height: 66.66%;
            &.big{height: 33.33%;}
            img{}
        }
        .sub-item{height: 50%;width: 100%;border-top: 6px solid #8f8f8f;
            img{max-width: 104%;}
            &:first-child{border-right: none;border-top: 6px solid #8f8f8f;}
        }
        .flag{
            span{}
            &:after{}
        }
    }
    /*/main-baner*/

    /*bottom-baner*/
    .bottom-baner{margin:60px 0px;padding: 0 20px;
        img{width: 100%;}
    }
    /*/bottom-baner*/

    /*casino-item*/
    .casino-item{
        .texter{
            h5{font-size: 32px;}
            p{font-size: 28px;line-height: 44px;
                img{margin-bottom: 11px;}
            }
            .texter-table{padding-top: 29px;padding-bottom: 20px;
                .td{font-size: 28px;
                    &:first-child{max-width: 45%;}
                    &:last-child{max-width: 52%;}
                }
            }
        }
        .bonuses-wrap{
            .item{padding: 32px 0px;
                &:last-child{border-bottom: none;}
            }
            a{
                &:first-child{font-size: 32px;}
                &:last-child{font-size: 20px;}
            }
        }
    }
    /*/casino-item*/

    /* texter table */

        .texter{
            table{
                tr{
                    td{font-size: 28px;
                        &:first-child{max-width: 45%;}
                        &:last-child{max-width: 52%;}
                    }
                }
            }
        }

    /* /texter taable */

}
@media screen and (max-width: 600px){
    /*main-baner*/
    .main-baner{
        .main-baner-wrap{height: auto;}
        .item{height: auto;
            &.big{height: auto;}
            img{position: relative;top: auto;transform: translate(-50%, 0);}
        }
        .sub-item{height: auto;width: 100%;border-top: 6px solid #8f8f8f;
            img{max-width: 104%;}
            &:first-child{border-right: none;border-top: 6px solid #8f8f8f;}
        }
    }
    /*/main-baner*/
}
@media screen and (max-width: 479px){
    /*casino-item*/
    .casino-item{
        .title-text:first-child{line-height: 1.9;}
        .texter{
            h5{font-size: 16px;}
            p{font-size: 14px;line-height: 22px;
                img{margin-bottom: -3px;}
            }
            .texter-table{padding-top: 20px;padding-bottom: 10px;
                .row{}
                .td{font-size: 14px;
                    &:first-child{max-width: 45%;}
                    &:last-child{max-width: 52%;}
                }
            }
        }
        .bonuses-wrap{
            .item{padding: 20px 0px;
                &:last-child{border-bottom: none;}
            }
            a{

                &:first-child{font-size: 16px;}
                &:last-child{font-size: 10px;}
            }
        }
    }
    /*/casino-item*/

    /* texter table */

        .texter{
            table{
                tr{
                    td{font-size: 14px;}
                }
            }
        }

    /* /texter taable */

}
@media screen and (max-width: 390px){

    /*main-baner*/
    .main-baner{
        .main-baner-wrap{padding: 0px 0px 3px;height: auto;}
        .item{float: none;width: 100%;
            &.big{max-height: 220px !important;}
            img{max-width: 100%;min-width: auto;max-height: none;min-height: auto;}
        }
        .sub-item{border-top: 3px solid #8f8f8f;max-height: 220px !important;
            img{max-width: 100%;min-width: auto;max-height: none;min-height: auto;}
            &:first-child{border-top: 3px solid #8f8f8f;}
        }
        .flag{
            span{}
            &:after{}
        }
    }
    /*/main-baner*/

    /*casino-item*/
    .casino-item{
        .bonuses-wrap{
            .item{padding: 20px 0px;
                &:last-child{border-bottom: none;}
            }
            a{
                &:first-child{font-size: 16px;width: 75%;max-width: 75%;}
                &:last-child{font-size: 10px;width: 25%;}
            }
        }
    }
    /*/casino-item*/
}
@media screen and (max-width: 320px){
    /*header*/
    header{
        .bottom-head{height: 60px;padding: 0 15px;}
        .top-head{min-height: 270px;padding-top: 60px;}
        .logo img.logo-mobile{max-height: 96px;}
        .logo .logo-flag{bottom: 10px;right: -2px;}
        .bottom-head .social a img{transform: translate(-50%, -50%) scale(1);}
        .bottom-head .social{width: 60%;}
        .bottom-head .mobile-button{width: 40px;
            &:after,&:before,span{width: 25px;}
        }
        .bottom-head nav a{font-size: 14px;}
    }
    /*/header*/


    /*bottom-baner*/
    .bottom-baner{margin:30px 0px;}
    /*/bottom-baner*/
}