@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 768px){

    /* footer */

        .footer{
            .footer-top{flex-wrap:wrap;flex-direction: column;justify-content:flex-start;
                .footer-list-wrap{width: 25%;}
            }
        }

    /* /footer */

    /* form */

        .form-class{
            .form-wrap{max-width: none;}
            .form_row{
                .form_input{
                    .errorText{position: static;padding-top: 10px;display: block;width: 100%;transform:translate(0, 0);}
                }
            }
        }

    /* /form */

    /* statistic */

        .statistic-content{
            .statistic-content-svg{float: none;margin-bottom: 20px;}
            .statistic-content-logo{bottom:calc(100% - 190px);}
            .static-content-info{float:none;width: 100%;}
        }

        .statistic-main{
            .static-item-descript{
                &.static-item-descript-hasImg{
                    .list-img{float: none;width: auto;margin-bottom: 10px;}
                    .list{width: 100%;}
                }

            }
            .list, .list-links{float:none;}
        }

    /* /statistic */

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 640px){

    /* footer */

        .footer{
            .footer-top{
                .footer-list-wrap{width: 50%;font-size: 20px;line-height: 30px;}
            }
            .footer-bottom{
               .footer-text{font-size: 20px;line-height: 28px;}
            }
        }

    /* /footer */

    /* form */

        .form-class{
            .form-class-title{font-size: 32px;}
            .form-class-subtitle{font-size: 24px;}
            .form_row{
                .form_input{
                    input{height: 100%;line-height: 100px;font-size: 28px;
                        &::-webkit-input-placeholder {font-size: 28px;}
                        &:-moz-placeholder {font-size: 28px;}
                        &::-moz-placeholder {font-size: 28px;}
                        &:-ms-input-placeholder {font-size: 28px;}
                    }
                    .errorText{font-size: 20px;}
                }
            }
            .button-green, .button-blue{font-size: 28px;line-height: 100px;height: 100px;}
            .form-links{font-size: 24px;}
            .form-socials{
                .form-socials-text{font-size: 24px;}
                .form-socials-wrap{
                    a{width: 51px;height: 51px;}
                }
            }
        }

    /* /form */

    /* registration-message */

        .registration-message{
            .registration-message-wrap{
                .registration-message-title{font-size: 32px;line-height: 40px;}
                .registration-message-text{font-size: 28px;line-height: 34px;}
                .registration-message-link{
                    .button-blue{max-width: none;height: 95px;line-height: 95px;font-size: 32px;}
                }
            }
        }

    /* /registration-message */

    /* statistic */

        .statistic-list-main{padding: 20px 20px 25px 20px}
        .statistic-content{
            .statistic-content-svg{width: 275px;
                svg{width: 275px;height: 275px;}
            }

            .statistic-content-logo{width:calc(100% - 280px);bottom:calc(100% - 280px);justify-content:flex-start;max-height: 200px;
                .statistic-logo-text{max-width: 200px;width: 100%;left: auto;right: 0;font-size: 16px;line-height: 30px;position: relative;}
                .satistic-img{max-width: 200px;width: 100%;text-align: center;
                    img{width: 100%;}
                }

            }
            .static-content-info{
                .static-info-title{font-size: 32px;}
                .static-info-top{
                    .static-info-top-text{font-size: 28px;line-height: 34px;}
                }
                .statistic-info-bottom{
                    .statistic-info-bottom-title{font-size: 28px;line-height: 34px;}
                    .statistic-info-bottom-text{font-size: 28px;line-height: 34px;
                        a{line-height: 34px;}
                    }
                }
                .statistic-info-button{
                    .button-blue{max-width: 240px;width: 100%;height: 50px;line-height: 50px;font-size: 28px;}
                }
            }

            .statistic-item-bottom{
                .statistic-item-left{width: 275px;margin-bottom: 20px;
                    .statistic-item-title{font-size: 20px;}
                }
                .statistic-item-rating{width: calc(100% - 295px);min-width: 200px;
                    .statistic-item-rating-row{font-size: 20px;line-height: 26px;
                        .statistic-item-rating-text{width: 180px;}
                        .statistic-item-rating-value{width: calc(100% - 180px);}
                    }
                }
            }

        }

        .statistic-main{
            .statistic-content{
                .statistic-content-logo{width:calc(100% - 315px);}
            }
            .static-item-descript{
                .list{
                    table{
                        tr{
                            td{
                                &:first-child, &:last-child{width: 50%;}
                            }
                        }
                    }
                    .descript-title, .descript-text{font-size: 24px;line-height: 30px;padding: 12px 5px 12px 0;}
                }
                .list-links{justify-content:space-between;padding-top: 30px;
                    .button-green, .button-blue{max-width: calc(50% - 5px);height: 72px;line-height: 72px;font-size: 28px;margin: 0;}
                }
            }
        }

    /* /statistic */

}
@media screen and (max-width: 479px){

    /* footer */

        .footer{
            .footer-top{
                .footer-list-wrap{font-size: 10px;line-height: 16px;}
            }
            .footer-bottom{
                .footer-social-links{
                    a{width: 40px;height: 40px;}
                }
               .footer-text{font-size: 10px;line-height: 16px;}
            }
        }

    /* /footer */

    /* form */

        .form-class{
            .form-class-title{font-size: 16px;}
            .form-class-subtitle{font-size: 12px;}
            .form_row{
                .form_input{
                    input{line-height: 50px;font-size: 14px;
                        &::-webkit-input-placeholder {font-size: 14px;}
                        &:-moz-placeholder {font-size: 14px;}
                        &::-moz-placeholder {font-size: 14px;}
                        &:-ms-input-placeholder {font-size: 14px;}
                    }
                    .errorText{font-size: 10px;}
                }
            }
            .button-green, .button-blue{line-height: 50px;height: 50px;font-size: 14px;}
            .form-links{font-size: 12px;}
            .form-socials{
                .form-socials-text{font-size: 12px;}
                .form-socials-wrap{
                    a{width: 36px;height: 36px;}
                }
            }
        }

    /* /form */

    /* registration-message */

        .registration-message{
            .registration-message-wrap{
                .registration-message-title{font-size: 18px;line-height: 22px;}
                .registration-message-text{font-size: 14px;line-height: 20px;}
                .registration-message-link{
                    .button-blue{max-width: none;height: 50px;line-height: 50px;font-size: 16px;}
                }
            }
        }

    /* /registration-message */

    /* statistic */

        .statistic-content{
            .statistic-content-svg{width: 150px;
                svg{width: 130px;height: 130px;}
            }
            .statistic-content-logo{width: calc(100% - 150px);bottom:calc(100% - 150px);
                .statistic-logo-text{max-width: 150px;width: 100%;left: auto;right: 0;font-size: 14px;line-height: 20px;}
                .satistic-img{max-width: 150px;}
            }
            .static-content-info{
                .static-info-title{font-size: 16px;}
                .static-info-top{
                    .static-info-top-text{font-size: 14px;}
                }
                .statistic-info-bottom{
                    .statistic-info-bottom-title{font-size: 14px;line-height: 22px;}
                    .statistic-info-bottom-text{font-size: 14px;line-height: 18px;
                        a{line-height: 18px;}
                    }
                }
                .statistic-info-button{
                    .button-blue{max-width: 120px;width: 100%;height: 25px;line-height: 25px;font-size: 14px;}
                }
            }

            .statistic-item-bottom{
                .statistic-item-left{width: 130px;
                    .statistic-item-title{font-size: 10px;}
                }
                .statistic-item-rating{width: calc(100% - 150px);min-width: 120px;
                    .statistic-item-rating-row{font-size: 10px;line-height: 18px;
                        .statistic-item-rating-text{width: 105px;}
                        .statistic-item-rating-value{width: calc(100% - 105px);}
                    }
                }
            }

        }

        .statistic-main{
            .statistic-content{
                .statistic-content-logo{width:calc(100% - 175px);}
            }
            .static-item-descript{
                .list{
                    .descript-title, .descript-text{font-size: 12px;line-height: 20px;padding: 8px 5px 8px 0;}
                }
                .list-links{justify-content:space-between;padding-top: 10px;
                    .button-green, .button-blue{max-width: calc(50% - 5px);height: 36px;line-height: 36px;font-size: 14px;}
                }
            }
        }

    /* /statistic */

    /* fancybox-close-window */

        .leave-fancy{width: 100%;
            .leave-buttons{
                .button-green{margin-right: 10px;}
            }
        }

    /* /fancybox-close-window */

    /* fancybox success rating */

        .success-rating{width: 100%;}

    /* /fancybox success rating */

}
@media screen and (max-width: 320px){

}